.table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    background-color: lightblue;
    padding: 40px;
    font-size: 20px;
    border-radius: 10px;
}

.h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;

}

table,
th,
td,
tr {
    padding: 5px;
}

th {
    font-weight: bold;
}

tr {
    font-weight: 500;
}

.color {
    color: darkblue;
}