student 
{ display: block; margin-top: 15px; color: blue; } name { display: block; margin-left:40px; margin-top: 30pt; color:red } firstname { font-size: 28pt; 
} lastname { font-size: 28pt; } enroll { display: block; font-size: 24pt; color: #100cec; } address { display: block; margin-left:40px; color:green } 
street{display: block;font-size: 18pt;} city{display: block;font-size: 18pt;} email{display: block;font-size: 18pt;color:blue} phone{display: block;font-size: 18pt;}
